bin/
obj/
.vs/
.idea/
*.user
*.suo
TestResults/
.env
.env.*
!.env.example
artifacts/
/logs/docker-log.txt
/logs/dotnet-test.txt
/logs/dotnet-all.txt
/logs/dotnet-all.txt
/logs/dotnet-test.txt
/infra/docker/clean
/infra/docker/logs
/infra/docker/docker-compose.yml
/infra/docker/docker-compose-mtls.yml
/src/Services/PaymentOrchestrator/src/ExitPass.PaymentOrchestrator.Api/appsettings.Development.json
/logs

# Optional local Docker override files
docker-compose.override.yml
infra/docker/docker-compose.override.yml
/src/Services/PaymentOrchestrator/src/ExitPass.PaymentOrchestrator.Api/appsettings.Development.json
*.example
/infra/docker/docker-compose - Copy.yml
/infra/docker/docker-compose.mtls.yml
/src/Services/CentralPms/src/ExitPass.CentralPms.Api/appsettings.Development.json
